# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Diretórios de saída comuns
dist/
build/
coverage/
tmp/
*.tmp

# Logs
logs/
*.log

# Arquivos de ambiente
.env*
!.env.example

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Mochawesome
/result/

# VS Code (opcional, mas útil para manter limpo)
.vscode/

# SO: Windows / macOS
.DS_Store
Thumbs.db
